{% extends 'base.html' %}
{% block content %}

<form method="post" class="card p-3 shadow-sm">
    <input name="title" class="form-control mb-2" placeholder="Título" required>

    <textarea name="description" class="form-control mb-2" placeholder="Descrição"></textarea>

    <select name="priority" class="form-control mb-2">
        <option>Baixa</option>
        <option>Média</option>
        <option>Alta</option>
    </select>

    <button class="btn btn-primary w-100">Salvar</button>
</form>

{% endblock %}
